@media only screen and (max-width: 450px) {
  body {
    max-width: 450px;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  header {
    width: 100%;
    text-align: center;
  }
  header .logo {
    width: 35%;
  }

  .location {
    height: 45px;
    background-color: #eaeaea;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .location .location__btn {
    display: flex;
    justify-content: space-between;
    width: 35%;
  }
  .location .location__btn .location__btn--icon {
    margin-right: 15px;
  }

  .input {
    background-color: transparent;
    border: none;
  }

  .discover {
    width: 100%;
    background-color: #f6f6f6;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .discover .discover__h1 {
    width: 60%;
  }
  .discover .discover__h2 {
    width: 80%;
    margin-top: unset;
  }
  .discover .discover__btn {
    height: 50px;
    width: 60%;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 20px;
    border-style: none;
    color: white;
  }

  .function {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .function nav {
    width: 100%;
  }
  .function .function__menu {
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }
  .function .function__menu .function__menu--btn {
    background-color: #f6f6f6;
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
  }
  .function .function__menu .function__menu--btn .number {
    background-color: #9356DC;
    border-radius: 10px;
  }

  .restaurants {
    background-color: #eaeaea;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .restaurants .restaurants__display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .restaurants .restaurants__card {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    text-decoration: none;
  }
  .restaurants .restaurants__card img {
    -o-object-fit: cover;
       object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 175px;
  }
  .restaurants .restaurants__card--info {
    width: 100%;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .restaurants .restaurants__card--text {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .restaurants .restaurants__card--text .restaurants__card--text, .restaurants .restaurants__card--text h3, .restaurants .restaurants__card--text h4 {
    margin-bottom: 5px;
    margin-top: 0px;
    margin-left: 10px;
  }
  .restaurants .restaurants__card--fav i {
    font-size: x-large;
    margin-right: 20px;
  }

  footer {
    width: 100%;
    background-color: #353535;
    color: white;
  }

  .footer__infos {
    padding-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__infos img {
    filter: invert(100%);
    height: 15px;
    margin-bottom: 20px;
  }
  .footer__infos h5 {
    margin: 0px;
  }

  .footer__infos--propose {
    width: 47%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .footer__infos--propose i {
    font-size: small;
  }

  .footer__infos--partner {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .footer__infos--partner i {
    font-size: small;
  }

  .footer__infos--legal {
    margin-bottom: 10px;
  }

  .footer__infos--contact {
    margin-bottom: 30px;
  }
}/*# sourceMappingURL=style.css.map */