@font-face {
  font-family: "Roboto-medium";
  src: url(../polices/Roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Roboto-thin";
  src: url(../polices/Roboto/Roboto-Thin.ttf);
}
@font-face {
  font-family: "Roboto-regular";
  src: url(../polices/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Title-font";
  src: url(../polices/Shrikhand/Shrikhand-Regular.ttf);
}
body {
  margin: 0px;
}
body h1, body h3 {
  font-family: "Roboto-medium";
  font-size: x-large;
}
body h2 {
  font-family: "Roboto-thin";
  font-size: medium;
}
body p {
  font-family: "Roboto-regular";
}
body h4 {
  font-family: "Roboto-medium";
  font-size: medium;
}
body h5 {
  font-family: "Roboto-thin";
  font-size: medium;
}
body h6 {
  font-family: "Roboto-regular";
  font-size: medium;
}
body .loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9356DC;
  font-size: xx-large;
  font-family: "Title-font";
  background-color: #99E2D0;
  -webkit-animation: loader 3s linear 1 forwards;
          animation: loader 3s linear 1 forwards;
}
@-webkit-keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
body .loader .circle1 {
  position: absolute;
  text-align: center;
  padding-left: 130px;
  padding-right: 130px;
  padding-top: 130px;
  padding-bottom: 130px;
  border-top: 10px solid #FF79DA;
  border-bottom: 10px solid #FF79DA;
  border-left: 10px solid #9356DC;
  border-right: 10px solid #9356DC;
  border-radius: 150px;
  -webkit-animation: circle1 2s ease infinite both;
          animation: circle1 2s ease infinite both;
}
@-webkit-keyframes circle1 {
  0% {
    transform: rotate(0);
    border-top: 10px solid #FF79DA;
    border-bottom: 10px solid #FF79DA;
    border-left: 10px solid #9356DC;
    border-right: 10px solid #9356DC;
  }
  50% {
    transform: rotate(180deg);
    border-top: 5px dotted #9356DC;
    border-bottom: 5px dotted #9356DC;
    border-left: 5px dotted #9356DC;
    border-right: 5px dotted #9356DC;
  }
  100% {
    transform: rotate(360deg);
    border-top: 10px solid #FF79DA;
    border-bottom: 10px solid #FF79DA;
    border-left: 10px solid #9356DC;
    border-right: 10px solid #9356DC;
  }
}
@keyframes circle1 {
  0% {
    transform: rotate(0);
    border-top: 10px solid #FF79DA;
    border-bottom: 10px solid #FF79DA;
    border-left: 10px solid #9356DC;
    border-right: 10px solid #9356DC;
  }
  50% {
    transform: rotate(180deg);
    border-top: 5px dotted #9356DC;
    border-bottom: 5px dotted #9356DC;
    border-left: 5px dotted #9356DC;
    border-right: 5px dotted #9356DC;
  }
  100% {
    transform: rotate(360deg);
    border-top: 10px solid #FF79DA;
    border-bottom: 10px solid #FF79DA;
    border-left: 10px solid #9356DC;
    border-right: 10px solid #9356DC;
  }
}
body .loader .circle2 {
  position: absolute;
  text-align: center;
  padding-left: 155px;
  padding-right: 155px;
  padding-top: 155px;
  padding-bottom: 155px;
  border-top: 5px double white;
  border-bottom: 5px solid white;
  border-radius: 190px;
  animation: circle2 2s linear reverse infinite both;
}
@-webkit-keyframes circle2 {
  0% {
    transform: rotate(0);
    border-top: 5px double white;
    border-bottom: 5px solid white;
  }
  50% {
    border-top: 5px solid white;
    border-bottom: 5px double white;
  }
  75% {
    border-top: 5px double white;
    border-bottom: 5px double white;
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes circle2 {
  0% {
    transform: rotate(0);
    border-top: 5px double white;
    border-bottom: 5px solid white;
  }
  50% {
    border-top: 5px solid white;
    border-bottom: 5px double white;
  }
  75% {
    border-top: 5px double white;
    border-bottom: 5px double white;
  }
  100% {
    transform: rotate(360deg);
  }
}
body .loader .letter {
  margin-right: 5px;
  -webkit-animation: letter 2000ms linear forwards;
          animation: letter 2000ms linear forwards;
}
body .loader .letter:nth-child(n+2) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
body .loader .letter:nth-child(n+3) {
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
}
body .loader .letter:nth-child(n+4) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
body .loader .letter:nth-child(n+5) {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}
body .loader .letter:nth-child(n+6) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
body .loader .letter:nth-child(n+7) {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}
body .loader .letter:nth-child(n+8) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
body .loader .letter:nth-child(n+9) {
  -webkit-animation-delay: 350ms;
          animation-delay: 350ms;
}
@-webkit-keyframes letter {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }
  38% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
    color: #FF79DA;
  }
  55% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-50px);
    color: #9356DC;
  }
  72% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0);
    color: #FF79DA;
  }
}
@keyframes letter {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }
  38% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
    color: #FF79DA;
  }
  55% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-50px);
    color: #9356DC;
  }
  72% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0);
    color: #FF79DA;
  }
}
body .content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
body .content .media-header {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
body .content header {
  width: 100%;
  text-align: center;
}
body .content header .logo {
  width: 35%;
  margin-top: 10px;
  margin-bottom: 10px;
}
body .content .location {
  background-color: #eaeaea;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
body .content .location .location__btn {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
body .content .location .location__btn .location__btn--icon {
  margin-right: 15px;
}
body .content .location .location__btn input {
  width: 100px;
  background-color: transparent;
  border: none;
}
body .content .discover {
  width: 100%;
  background-color: #f6f6f6;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
body .content .discover .discover__h1 {
  width: 65%;
  text-align: center;
}
body .content .discover .discover__h2 {
  width: 80%;
  margin-top: unset;
  margin-bottom: 30px;
  text-align: center;
}
body .content .discover .discover__btn {
  font-family: "Roboto-regular";
  font-size: medium;
  height: 50px;
  width: 200px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  border-style: none;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  opacity: 1;
  cursor: pointer;
}
body .content .discover .discover__btn:hover {
  filter: brightness(1.2);
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
  transition-duration: 0.5s;
}
body .content .function {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}
body .content .function .function__title {
  margin-bottom: 0px;
  text-align: center;
}
body .content .function nav {
  width: 97%;
}
body .content .function__menu {
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
body .content .function__menu .function__menu--btn {
  background-color: #f6f6f6;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 25px;
  padding-top: 25px;
  margin-left: 11px;
  display: flex;
  align-items: center;
  border-radius: 20px;
}
body .content .function__menu .function__menu--btn .number {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  margin: -12px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: small;
}
body .content .function__menu .function__menu--btn .icone {
  color: #7e7e7e;
  padding-left: 25px;
  padding-right: 30px;
  font-size: medium;
}
body .content .function__menu .function__menu--btn p {
  margin: 0px;
}
body .content .function__menu .function__menu--btn:nth-child(3) {
  background-color: #f5edff;
}
body .content .function__menu .function__menu--btn:nth-child(3) .icone {
  color: #9356DC;
}
body .content .restaurants {
  background-color: #eaeaea;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
body .content .restaurants .restaurants__title {
  width: 90%;
  padding-left: 20px;
}
body .content .restaurants .restaurants__display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
body .content .restaurants .restaurants__card {
  position: relative;
  width: 89%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
  text-decoration: none;
  transition: transform 1s;
  cursor: pointer;
}
body .content .restaurants .restaurants__card:hover {
  transform: scale(1.05);
}
body .content .restaurants .restaurants__card img {
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 175px;
}
body .content .restaurants .restaurants__card p {
  position: absolute;
  font-size: small;
  text-align: center;
  color: #008766;
  padding: 5px;
  width: 20%;
  top: 10%;
  left: 70%;
  margin: 0px;
  background-color: #99E2D0;
}
body .content .restaurants .restaurants__card--info {
  width: 100%;
  background-color: white;
  color: black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body .content .restaurants .restaurants__card--text {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: medium;
}
body .content .restaurants .restaurants__card--text .restaurants__card--text, body .content .restaurants .restaurants__card--text h4, body .content .restaurants .restaurants__card--text h5 {
  margin-bottom: 5px;
  margin-top: 0px;
  margin-left: 10px;
}
body .content .restaurants .restaurants__card--fav {
  width: 25px;
  height: 25px;
  margin-right: 20px;
  font-size: 23px;
}
body .content .restaurants .restaurants__card--fav .fa-heart {
  font-weight: lighter;
  transition: color 1s cubic-bezier(0.57, -0.11, 0.36, 0.96), opacity 2s ease-in;
}
body .content .restaurants .restaurants__card--fav .fa-heart-like {
  background-image: linear-gradient(190deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  right: 29px;
  bottom: 24px;
  opacity: 0;
  font-size: 9px;
  font-weight: bold;
  transition: font-size 2s cubic-bezier(0.57, -0.11, 0.36, 0.96), right 2s cubic-bezier(0.57, -0.11, 0.36, 0.96), bottom 3s cubic-bezier(0.57, -0.11, 0.36, 0.96), opacity 1s cubic-bezier(0.57, -0.11, 0.36, 0.96);
  -webkit-transition: font-size 2s cubic-bezier(0.57, -0.11, 0.36, 0.96), right 2s cubic-bezier(0.57, -0.11, 0.36, 0.96), bottom 3s cubic-bezier(0.57, -0.11, 0.36, 0.96), opacity 1s cubic-bezier(0.57, -0.11, 0.36, 0.96);
}
body .content .restaurants .restaurants__card--fav:hover .fa-heart {
  color: #9356DC;
  opacity: 0;
}
body .content .restaurants .restaurants__card--fav:hover .fa-heart-like {
  font-size: 24px;
  right: 22px;
  bottom: 24px;
  opacity: 1;
}
body .content footer {
  width: 100%;
  background-color: #353535;
  color: white;
}
body .content footer h6 {
  margin: 0px;
  color: white;
}
body .content .footer__infos {
  padding-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
body .content .footer__infos img {
  filter: invert(100%);
  height: 18px;
  margin-bottom: 20px;
}
body .content .footer__infos--propose {
  width: 185px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
body .content .footer__infos--propose i {
  font-size: small;
  margin-right: 10px;
}
body .content .footer__infos--partner {
  width: 160px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
body .content .footer__infos--partner i {
  font-size: small;
  margin-right: 6px;
}
body .content .footer__infos--legal {
  margin-bottom: 10px;
}
body .content .footer__infos--contact {
  margin-bottom: 30px;
}
body .content .footer__infos--contact a {
  text-decoration: none;
}

@media only screen and (min-width: 450px) {
  body .content {
    min-width: 450px;
    max-width: 950px;
  }
  body .content .media-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  body .content .media-header header {
    width: 70%;
  }
  body .content .media-header header .logo {
    width: 50%;
  }
  body .content .media-header .location__btn--icon {
    margin-left: 10px;
  }
  body .content .restaurants .restaurants__title {
    text-align: center;
  }
  body .content .restaurants .restaurants__card--fav .fa-heart-like {
    right: 29px;
    bottom: 48px;
  }
  body .content .restaurants .restaurants__card--fav:hover .fa-heart-like {
    right: 22px;
    bottom: 45px;
  }
  body .content .restaurants .restaurants__card {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
    text-decoration: none;
    transition: transform 1s;
    cursor: pointer;
  }
  body .content .restaurants .restaurants__card:hover {
    transform: scale(1.05);
  }
  body .content .restaurants .restaurants__card img {
    -o-object-fit: cover;
       object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 80%;
    width: 100%;
  }
  body .content .restaurants .restaurants__card p {
    position: absolute;
    font-size: small;
    text-align: center;
    color: #008766;
    padding: 5px;
    width: 20%;
    top: 10%;
    left: 70%;
    margin: 0px;
    background-color: #99E2D0;
  }
  body .content .footer__infos {
    align-items: center;
  }
}
@media only screen and (min-width: 950px) {
  body .content {
    min-width: 950px;
    max-width: 1450px;
    margin: auto;
  }
  body .content .media-header {
    justify-content: flex-start;
  }
  body .content header {
    width: 60%;
  }
  body .content header .logo {
    width: 50%;
  }
  body .content .location {
    width: 40%;
  }
  body .content .location .location__btn--icon {
    font-size: x-large;
  }
  body .content .function .function__title {
    width: 100%;
    font-size: xx-large;
  }
  body .content .function .function__menu--btn:nth-child(1) {
    width: 40%;
    margin-bottom: 30px;
  }
  body .content .function .function__menu--btn:nth-child(2) {
    width: 40%;
    margin-bottom: 30px;
    margin-left: 30%;
  }
  body .content .function .function__menu--btn:nth-child(3) {
    width: 40%;
    margin-bottom: 30px;
    margin-left: 60%;
  }
  body .content .restaurants .restaurants__title {
    width: 100%;
    padding-left: 0px;
    font-size: xx-large;
  }
  body .content .restaurants .restaurants__display {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  body .content .restaurants .restaurants__display .restaurants__card {
    width: 45%;
    margin-bottom: 30px;
  }
  body .content .restaurants .restaurants__display .restaurants__card .restaurants__card--fav .fa-heart-like {
    right: 29px;
    bottom: 45px;
  }
  body .content .restaurants .restaurants__display .restaurants__card .restaurants__card--fav:hover .fa-heart-like {
    right: 22px;
    bottom: 45px;
  }
  body .content .footer__infos {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}/*# sourceMappingURL=style.css.map */