$primary-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$medium-font: "Roboto-medium";
$thin-font: "Roboto-thin";
$regular-font: "Roboto-regular";

@font-face {
    font-family: "Roboto-medium";
    src: url(../polices/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: "Roboto-thin";
    src: url(../polices/Roboto/Roboto-Thin.ttf);
}
@font-face {
    font-family: "Roboto-regular";
    src: url(../polices/Roboto/Roboto-Regular.ttf);
}

    body {
        margin: 0px;
        h1, h3{
            font-family: $medium-font;
            font-size: x-large;
        }
        h2 {
        font-family: $thin-font;
        font-size: medium;
        } 
        p {
            font-family: $regular-font;
        }
        h4 {
            font-family: $medium-font;
            font-size: medium;
        }
        h5 {
            font-family: $thin-font;
            font-size: medium;
        }
        h6 {
            font-family: $regular-font;
            font-size: medium;
        }
    }
    .content {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    header {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        .logo {
            width: 35%;
        }
    }
    .location {
        height: 45px;
        background-color: #eaeaea;
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        .location__btn{
            display: flex;
            justify-content: space-between;
            width: 35%;
            .location__btn--icon {
                margin-right: 15px;
            }

        }
        
    }
    .input {
        background-color: transparent;
        border: none;
    }
    .discover {
        width: 100%;
        background-color: #f6f6f6;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        .discover__h1 {
            width: 65%;
            text-align: center;
        }    
        .discover__h2 {
            width: 80%;
            margin-top: unset;
            margin-bottom: 30px;
            text-align: center;
        }
        .discover__btn{
            font-family: $regular-font;
            font-size: medium;
            height: 50px;
            width: 200px;
            background: linear-gradient($secondary-color,$primary-color, );
            border-radius: 30px;
            border-style: none;
            color: white;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            opacity: 1;
            cursor: pointer;
            &:hover{
                filter: brightness(1.2);
                transform: scale(1.1);
                box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
                transition-duration: 0.5s;
            }
        }    
    }
    .function {
        width: 90%;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        .function__title {
            margin-bottom: 0px;
        }
        nav {
            width: 100%;
        }
    }
    .function__menu {
        width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        .function__menu--btn {
            background-color: #f6f6f6;
            width: 100%;
            margin-bottom: 10px;
            padding-bottom: 25px;
            padding-top: 25px;
            margin-left: 23px;
            display: flex;
            align-items: center;
            border-radius: 20px;
            .number {
                background-color: $primary-color;
                color: white;
                border-radius: 50%;
                margin: -10px;
                padding-left: 9px;
                padding-right: 9px;
                padding-top: 5px;
                padding-bottom: 5px;
                font-size: small;
            }
            .icone {
            color: #7e7e7e;
            padding-left: 25px;
            padding-right: 30px;
            font-size: medium;               
            }
            p {
                margin: 0px;
            }
        }
    }
    .restaurants {
        background-color: #eaeaea;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        .restaurants__title {
            width: 90%;
            padding-left: 20px;
        }
        .restaurants__display{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                margin-bottom: 30px;
        }
        .restaurants__card {
            position: relative;
            width: 89%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 20px;
            text-decoration: none;
            transition: transform 1s;
            &:hover{
                transform: scale(1.05);
            }
            img {
                object-fit: cover;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                height: 175px;
            }
            p {
                position: absolute;
                font-size: small;
                text-align: center;
                color: #008766;
                padding: 5px;
                width: 20%;
                top: 10%;
                left: 70%;
                margin: 0px;
                background-color: $third-color;
            }
        }
        .restaurants__card--info{
            width: 100%;
            background-color: white;
            color: black;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        .restaurants__card--text {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: medium;
            .restaurants__card--text ,h4, h5 {
                margin-bottom: 5px;
                margin-top: 0px;
                margin-left: 10px;
            }
        }
        .restaurants__card--fav{
            width: 25px;
            height: 25px;
            margin-right: 20px;
            font-size: x-large;
            .fa-heart{
                opacity: 1;
                transition: 1s linear;
                font-weight: lighter;
                &:hover{
                    opacity: 0;
                }
            }
            .fa-heart-like{
                position: absolute;
                transition: 2s ease-in;
                opacity: 0;
                &:hover{
                    opacity: 1;
                    color: $secondary-color;
                    font-weight: bold ;
                }       
            }
            
        }
    }
    footer {
        width: 100%;
        background-color: #353535;
        color: white;
        h6 {
            margin: 0px;
            color: white;
        }
    }   
    .footer__infos{
        padding-top: 20px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        img{
            filter: invert(100%);
            height: 18px;
            margin-bottom: 20px;
        }
    }
    .footer__infos--propose  {
        width: 185px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        i {
            font-size: small;
            margin-right: 10px;
        }
    }
    .footer__infos--partner  {
        width: 160px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        i {
            font-size: small;
            margin-right: 6px;
        }
    }
    .footer__infos--legal {
        margin-bottom: 10px;
    }
    .footer__infos--contact {
        margin-bottom: 30px;
        a{
        text-decoration: none;
    }
    }  
@media only screen and (min-width: 450px) {
}